@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Crimson Pro', serif;

}

body {
    background: lightblue;
}

#header {
    height: 100vh;
    background-image: url("background2.jpg");
    background-position: center;
    background-size: auto;
}

.container {
    margin-right: 100px;
    margin-left: 100px;
}

.logo {
    margin-top: 25px;
    width: 200px;
}

.header-text {
    max-width: 350px;
    margin-top: 140px;
}

h1 {
    font-size: 35px;
}

.square {
    height: 12px;
    width: 12px;
    display: inline-block;
    background: #f67c92;
    margin: 15px 0;
}

.common-btn {
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid #f67c92;
    cursor: pointer;
}

p {
    font-size: 15px;
    line-height: 18px;
    color: rgb(12, 11, 11);
}

.header-text button {
    margin-top: 20px;
    margin-bottom: 60px;
}

.line-1 {
    width: 15px;
    height: 15px;
    background: #f67c92;
    display: inline-block
}

.line-2 {
    width: 60px;
    height: 1px;
    background: #f67c92;
    display: inline-block
}

.line-3 {
    width: 80px;
    height: 1px;
    background: #f67c92;
    display: inline-block
}

#sidenav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background-color: #f67c92;
    z-index: 2;
    transition: .5s;
}

nav ul li {
    list-style: none;
    margin: 50px 20px;

}

nav ul li a {
    text-decoration: none;
    color: white;
}

#menuBtn {
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
    color: white;
}

#about {
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-left-col {
    flex-basis: 50%;
}

.about-left-col img {
    width: 100%;
}

.about-right-col {
    flex-basis: 50%;
}